<a href="https://colab.research.google.com/github/Kwon-mijeong/Data-programming/blob/main/Project_Victims_of_Crime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Kaggle data download**

In [1]:
!pip install kaggle
from google.colab import files
files.upload()

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"mmiijj","key":"821f337873cbdd7ab96c35d2565c5372"}'}

In [2]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [3]:
!kaggle datasets download -d kirticism/victims-of-crime

Downloading victims-of-crime.zip to /content
  0% 0.00/2.38k [00:00<?, ?B/s]
100% 2.38k/2.38k [00:00<00:00, 3.73MB/s]

In [4]:
!unzip victims-of-crime.zip
!ls

Archive:  victims-of-crime.zip
  inflating: by ethnicity and age group-table.csv
  inflating: by ethnicity and gender-table.csv
  inflating: by ethnicity and socio economic group-table.csv
  inflating: by ethnicity over time-table.csv
'by ethnicity and age group-table.csv'		    kaggle.json
'by ethnicity and gender-table.csv'		    sample_data
'by ethnicity and socio economic group-table.csv'   victims-of-crime.zip
'by ethnicity over time-table.csv'

## **Victims of Crime**

In [11]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df = pd.read_csv('by ethnicity and gender-table.csv')
df

  Unnamed: 0 All   Unnamed: 2 Female   Unnamed: 4 Male   Unnamed: 6
0  Ethnicity   %  Sample size      %  Sample size    %  Sample size
1      Asian  15        6,156     15        3,080   15        3,076
2      Black  15        2,855     16        1,697   14        1,158
3      Mixed  20        1,163     19          649   21          514
4      White  14       91,345     14       49,258   14       42,087
5      Other  16          862     17          436   15          426

In [13]:
df2 = pd.read_csv('by ethnicity and socio economic group-table.csv')
df2

                                Unnamed: 0 Asian  ... Other  Unnamed: 10
0            Socio-economic classification     %  ...     %  Sample size
1  Managerial and professional occupations    18  ...    17          267
2                 Intermediate occupations    17  ...    16          141
3           Routine and manual occupations    13  ...    14          238
4    Never worked and long-term unemployed    13  ...    12          103
5                       Full time students    14  ...    18          104
6                           Not classified     8  ...     ?            9

[7 rows x 11 columns]

# **Victims of Crime Dataset 수정**
- missing value 처리
- unnamed 부분 처리
- 불필요한 value filtering

# Pie Plot
- 범죄 희생자(여성)의 인종별 비중

- 범죄 희생자(남성)의 인종별 비중

# Bar Plot - overlay
- 사회 경제적 부분별 범죄 희생자의 인종별 명 수

# Dash board

*   범죄에 더 취약한 인종(pie plot)
*   각 직업군의 범죄 희생자 명수를 시각화한 line plot을 통해 범죄에 더 취약한 경제적 상황 확인